.dark{
  background-color: gray;
  color:white;
}

.container{
  width:15em;
  margin: 0 0.2em;
  float: left;
  position: relative;
}
.pic img{
  width: 100%;
}
.title{
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 1em;
  color:white
}
.channel, .views{
  font-size: 20px;
  color:#ccc;
  margin-bottom: 0.2em;
}

.views span{
  padding: 0 0.5em;
}

.close {
  position: absolute;
  background: transparent;
  right: 0;
  border: none;
  padding: 2px;
}

.edit {
  position: absolute;
  background: transparent;
  left: 0;
  border: none;
  padding: 2px;
}